# fly.toml app configuration file generated for hito1-dwec-martial on 2023-11-27T23:00:56+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "hito1-dwec-martial"
primary_region = "mad"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
