
.card{
    border-radius: 10px;
    width: 100%;
}
.boton-clases{
    margin: 0 auto;
}
.flex-clases{
    margin: 0 auto;
}

@media (max-width: 1008px) {
    .imagen-header {
        display: none;
    }
    .texto-header {
        padding: 42px;
    }
}

@media (max-width: 860px) {
    .flex-clases{
        flex-direction: column;
    }
}
@media (max-width: 560px) {
    .texto-header {
        padding: 20px;
    }
    .flex-clases{
        padding: 20px;
    }
}



